<h3>Story PitchForm</h3>
    
<div class="container">
    <!-- <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Fill form with valid entries before saving!</div> -->
    
    <form >
        <fieldset class="form-group">
            <label>Story Title</label>
            <input type="text">
        </fieldset>     
        
        <fieldset class="form-group">
            <label>Target Date</label>
            <input type="date">
        </fieldset>

        <fieldset class="form-group">
            <label>Genre</label>
            <input type="text">
        </fieldset> 
        <div class="alert alert-success">Form ready to save!</div>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
    
</div>
