<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div>
            <a class="navbar-brand" style="color:rgb(250, 164, 52)">SPMS: </a>
        </div>
        <ul class="navbar-nav"> 
            <li><a routerLink="/home" class="nav-link">Home</a></li>
            <li><a routerLink="/form" class="nav-link">Story Pitch Form</a></li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end"> 
            <li><a routerLink="/login" class="nav-link">Login</a></li>
            <li><a routerLink="/" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>